<div class="sign-in">
    <div class="sign-in__container">
        <h1>Crear una cuenta</h1>
        <form [formGroup]="form" novalidate class="sign__form">
            <input formControlName='nombre' [class.is-invalid]='nombreFieldValid || isInvalid' type="text" class="mt-5" placeholder="Nombre">
            <input formControlName='apellido' [class.is-invalid]='apellidoFieldValid || isInvalid' type="text" placeholder="Apellido">
            <input formControlName='dni' [class.is-invalid]='dniFieldValid || isInvalid' type="number" placeholder="DNI">
            <input formControlName='cbu' [class.is-invalid]='cbuFieldValid || isInvalid' type="number" placeholder="CBU">
            <input formControlName='email' [class.is-invalid]='emailFieldValid || isInvalid' type="text" placeholder="Email">
            <input formControlName='password' [class.is-invalid]='passwordFieldValid || isInvalid' type="password" placeholder="Contraseña">
            <input formControlName='passconfirm' [class.is-invalid]='passwordConfirmFieldValid || isInvalid' type="password" placeholder="Confirmar contraseña">

            <button type="submit" [disabled]="this.form.invalid" (click)="newUser()">Registrarse</button>
            <div *ngIf="loading" class="d-flex justify-content-center">
                <div class="spinner-border text-info mt-5" role="status">
                </div>
            </div>
        </form>
    </div>
</div>