<app-main-header [arrow]="'left'" [navigation]="'/home'" [title]="'Ultimos movimientos'"></app-main-header>

<ng-container *ngFor="let movimientos of movimiento">
  <div class="movements__container my-2 d-flex justify-content-between align-items-center">
    <div>
      <p class="movements__container--type">{{ movimientos.MovementName }}</p>
      <div class="d-flex">
        <p class="movements__container--user">
          Desde {{ movimientos.User.Firstname }}
          {{ movimientos.User.Lastname }} &nbsp;
        </p>
        <p class="movements__container--user-destination">
          a {{ movimientos.UserDestination.Firstname }}
          {{ movimientos.UserDestination.Lastname }}
        </p>
      </div>
    </div>
    <p class="movements__container--amount">$ {{ movimientos.Amount }}</p>
  </div>
</ng-container>
