<table class="table table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">idCuenta</th>
            <th scope="col">idCuentaDestino</th>
            <th scope="col">Monto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimientos of movimiento">
            <th scope="row">{{movimientos.Id}}</th>
            <td scope="row">{{movimientos.User.Firstname + movimientos.User.Lastname}}</td>
            <td scope="row">{{movimientos.UserDestination.Firstname + movimientos.UserDestination.Lastname}}</td>
            <td scope="row">{{movimientos.Amount}}</td>
        </tr>
    </tbody>
</table>