<!-- <a class="btn btn-primary mt-4" routerLink="/home">Volver</a> -->
<app-main-header [arrow]="'left'" [navigation]="'/home'" [title]="'Perfil'"></app-main-header>
<div class="perfil">
    <div class="perfil__container">
        <h1>Perfil</h1>
        <form [formGroup]="form" novalidate class="sign__form">
            <input type="text" readonly value="{{user.Firstname}}" class="mt-5" placeholder="Nombre">
            <input type="text" readonly value="{{user.Lastname}}" placeholder="Apellido">
            <input type="number" readonly value="{{user.Cbu}}" placeholder="CBU">
            <input type="text" readonly value="{{user.Email}}" placeholder="Email">
            <button type="button" readonly class="mt-2" (click)="onEditarPerfil()">Editar Perfil</button>
        </form>

    </div>
</div>