<a class="btn btn-primary mt-4" routerLink="/home">Volver</a>
<div class="perfil">
    <div class="perfil__container">
        <h1>Perfil</h1>
        <form [formGroup]="form" novalidate class="sign__form">
            <input type="text" class="mt-5" placeholder="Nombre">{{user.Firstname}}
            <input type="text" placeholder="Apellido">{{user.Lastname}}
            <input type="number" placeholder="CBU">{{user.Cbu}}
            <input type="text" placeholder="Email">{{user.Email}}
            <button type="button" class="mt-2" (click)="onEditarPerfil()">Editar Perfil</button>
        </form>

    </div>
</div>