@import "/src/styles.scss";
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    &__container{
    color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1{
        text-align: center;
        font-weight: 400;
        font-size: 2.5rem;
    }
    & img{
        max-width: 90px;
        margin: 50px 0; 
    }
    >.login__form{
        display: flex;
        flex-direction: column;
        & input{
            text-align: center;
            border: none;
            border-bottom: 1.5px solid $main-color;
            padding: 5px;
            margin-bottom: 10px;
            color: $main-color;
            outline-color: $main-color;
            &::placeholder{
                color: $main-color;
            }
        }
        & a{
            margin-top: 80px;
            background-color: $main-color;
            border: none;
            color: white;
            padding: 10px 0;
            border-radius: $radius-1;
            text-align: center;
        }
    }
   }
}