@import './variables.scss';
/**
  En un container que utilice css grid, se le pasa el nombre del area y la altura, siendo este un multiplicador.
*/
@mixin set-box($area, $height, $fix: 0) {
  // $fix se utiliza principalmente en el ultimo box, ej: inversiones en home,
  // se resta $fix a la altura y se le agrega a margin-bottom
    .#{$area} {
      grid-area: $area;
      background-color: $main-color;
      border-radius: $radius-1;
      height: $height * $calculate-height - $space-between-box - $fix;
      margin-bottom: $fix;
      &:hover{
        transition: all .2s ease;
        background-color: lighten($main-color,8%);
      }
      &>.title{
        text-align: right;
        position: relative;
        //top: $height * $calculate-height - $space-between-box - $fix - 4vh;
        top: 15px;
        right: 15px;
        @include basic-title();
      }
    }
    @media (max-height: 500px) {
      .#{$area}{
        height: $height * ($calculate-height + 5vh) - $space-between-box - $fix;
      }
    }
  }
  
@mixin basic-title {
  color: $text-color-1;
}
@function calculate-light(){
  @return $main-color + 00005;
}